<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/550980-de-icone-de-usuario-gr%C3%A1tis-vetor.jpg" style="width: 30%;" id="icon" alt="User Icon" />
        </div>
        <form method="POST" action="/verificar-login">
            <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="usuário">
            <input type="password" id="password" class="fadeIn third" name="senha" placeholder="senha">
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueci a senha</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>