<link rel="stylesheet" href="/static/css/tabulator_bootstrap4.css">

<div id="dvDados" style="display: none;">
    {{ dados }}
</div>
<div style="margin-left: 30px ; padding: 0px; width: 100%;" id="tblDados"></div>

<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script src="/static/js/tabulator.min.js"></script>
<script>
    let dados_json  = JSON.parse(document.getElementById('dvDados').textContent)
    let chaves_json = Object.keys(dados_json[0])

    let colunas = []
    chaves_json.forEach(e => {
        colunas.push({
            title:e,
            field:e,
            headerFilter:"input"
        })
    })

    var table = new Tabulator("#tblDados", {
        layout:"fitColumns",
        pagination:"local",
        height:"500px",
        paginationSize:10,
        paginationSizeSelector:[10, 50, 100, 200],
        movableColumns:true,
        data:( dados_json ),
        columns:colunas
    })
</script>