<link rel="stylesheet" href="/static/css/tabulator_bootstrap4.css">

<div id="dvDados" style="display: none;">
    {{ dados }}
</div>

<a class="btn btn-primary" href="novo">Novo</a>
<div style="margin-left: 30px ; padding: 0px; width: 100%;" id="tblDados"></div>

<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script src="/static/js/tabulator.min.js"></script>
<script>
    let dados_json  = JSON.parse(document.getElementById('dvDados').textContent)
    let chaves_json = Object.keys(dados_json[0])
    var colunas     = []

    // TITULOS DAS COLUNAS DA TABELA
    // caso o template que importar a listagem tenha chaves diferentes do padrão
    dvChaves = document.getElementById('dvChaves')
    if (dvChaves != undefined){
        chaves_json = JSON.parse(dvChaves.textContent)
        chaves_json.forEach(e => {
            colunas.push({
                title        : e.titulo,
                field        : e.campo,
                headerFilter : e.busca
            })
        })
    }else{
        chaves_json.forEach(e => {
            colunas.push({
                title : e,
                field : e,
                headerFilter : "input"
            })
        })
    }

    
    // BOTÕES DE AÇÕES
    let btnEditar       = {}
    btnEditar.field     = 'id'
    btnEditar.formatter = function(cell, formatterParams, onRendered){
            return "<button class='btn btn-primary' onclick='editar("+cell.getValue()+")'>Editar</button>"
        }
    colunas.push(btnEditar)

    // TABELA TABULATOR
    var table = new Tabulator("#tblDados", {
        layout:"fitColumns",
        pagination:"local",
        height:"500px",
        paginationSize:10,
        paginationSizeSelector:[10, 50, 100, 200],
        movableColumns:true,
        data:( dados_json ),
        columns:colunas
    })

    // BOTÃO EDITAR
    function editar(id){
        window.location.href = window.location.href.replace('listar', id+'/editar')
    }
</script>